# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env files — NUNCA subir al repo
.env
*.env.local

# Node / Angular
node_modules/
dist/
.angular/
*.js.map

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
