# Copiar este archivo como .env y completar los valores reales
# NUNCA commitear el archivo .env

JWT_SECRET_KEY=
DATABASE_URL=postgresql+asyncpg://postgres:[PASSWORD]@db.[PROJECT-ID].supabase.co:5432/postgres
ALLOWED_ORIGINS=["http://localhost:4200","http://localhost:8050"]
DEBUG=True
